@CHARSET "UTF-8";

body {
	font-size: 62.5%;
	font-family: Segoe UI, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
}

label,input,textarea {
	display: inline;
}

input {
	padding: 2px;
}

input.text,textarea {
	width: 95%;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

label.validation-error {
	margin-bottom: 10px;
	border: 1px solid #cd0a0a;
	background: #b81900;
	color: #ffffff;
}

.hidden {
	visibility: hidden;
}

.ui-div-header {
	background-image: url('../images/header_background.png');
}

img {
	margin: 0px;
	border-width: 0px;
}

.ui-div-outer1-content {
	border-width: 1px;
	margin: 16px;
	margin-top: -9px;
	border-style: solid;
	border-color: #f0f0f0;
	padding: 0px;
}

.ui-div-outer2-content {
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  padding: 0px;
  margin:0px;
}

.ui-div-content {
  border-width: 1px;
  margin: 0px;
  border-style: solid;
  border-color: #ababab;
  padding: 10px;
}

a {
	color: #111111;
	text-decoration: none;
}

a:visited {
	color: #111111;
	text-decoration: none;
}

a:hover {
	color: #004276;
	text-decoration: none;
}

a:active {
	color: #cc0000;
	text-decoration: none;
}

a.ui-mainmenu-link {
	font-size: 12pt;
	margin: 5px 20px;
}

a.ui-mainmenu-link-active {
	font-size: 14pt;
	margin: 5px 20px;
	color: #cc0000;
}

span.tui-table-header-toolbar {
	
}

input.tui-input,select.tui-input,textarea.tui-input,button.tui-input {
	margin-top: 2px;
	margin-bottom: 12px;
}

button.tui-button {
	padding: 0px;
	margin: 2px;
}

button.tui-table-button {
	padding: 0px;
	margin: 0px;
}

button.tui-relation-button {
  margin-right: 10px;
  margin-left: 10px;
}

td.tui-nowrap {
	white-space: nowrap;
}

div.tui-rel-separator {
	text-align: center;
	height: 48px;
	vertical-align: middle;
}

tr.tui-headerrow-filter {
	text-align: right;
	margin-top: -24px;
}