@CHARSET "ISO-8859-1";

table.tui {
	border-collapse: collapse;
	border: solid 1px #cccccc;
	font-size: small;
	width: 100%;
}

table.tui td {
	padding: 2px;
	padding-left: 4px;
	border-right: solid 1px #cccccc;
}

table.tui .even {
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
	border-bottom-style: dashed;
}

table.tui .odd {
	background-color: #f0f0f0;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
	border-bottom-style: dashed;
}

table.tui th {
	background: url('images/sprite.png') repeat-x 0px 0px;
	border: 1px solid #cccccc;
	padding: 5px;
	height: auto;
	cursor: pointer;
	white-space: nowrap;
}

table.tui th a {
	text-decoration: none;
	text-align: center;
	padding-right: 20px;
	font-weight: bold;
	white-space: nowrap;
	background: url('images/bg.gif') no-repeat right 50%;
}

table.tui thead .headerSortUp {
	background: url('images/sprite.png') repeat-x 0px -100px;
}

table.tui thead .headerSortDown {
	background: url('images/sprite.png') repeat-x 0px -100px;
}

table.tui .headerSortUp a {
	background: url('images/asc.gif') no-repeat right 50%;
}

table.tui .headerSortDown a {
	background: url('images/desc.gif') no-repeat right 50%;
}

table.tui tfoot td {
	border-top: 1px solid #cccccc;
	background-color: #dddddd;
	border: none;
}

table.tui thead td {
	vertical-align: middle;
	background-color: #dddddd;
	border: none;
}

table.tui thead .tableHeader {
	font-size: larger;
	font-weight: bold;
	padding: 10px;
}

table.tui thead .filter {
	text-align: right;
}

table.tui tfoot {
	background-color: #dddddd;
	text-align: left;
	border-top: 1px solid #cccccc;
}

table.tui .tablesorterPager {
	padding: 10px 0 10px 0;
}

table.tui .tablesorterPager span {
	padding: 0 5px 0 5px;
}

table.tui .tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}

table.tui .tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}

table.tui .pagedisplay {
	font-size: 10pt;
	width: 30px;
	border: 0px;
	background-color: #dddddd;
	text-align: center;
	vertical-align: top;
}

.tui-action-column {
	background-color: #dddddd;
}

.tui-relation-column {
	
}

span.tui-table-title {
	color: #cc0000;
	margin-left: 16px;
	margin-right: 16px;
	font-size: larger;
  font-weight: bold;	
}